#root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;

  padding: 0 2rem;

  box-sizing: border-box;
}
